@font-face {
  font-family: 'iconfont';
  /* project id 949149 */
  src: url("//at.alicdn.com/t/font_949149_r2otznew99.eot");
  src: url("//at.alicdn.com/t/font_949149_r2otznew99.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_949149_r2otznew99.woff") format("woff"), url("//at.alicdn.com/t/font_949149_r2otznew99.ttf") format("truetype"), url("//at.alicdn.com/t/font_949149_r2otznew99.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-search:before {
  content: "\e60c";
  cursor: pointer;
}

.icon-new-customers:before {
  content: "\e619";
  color: #4b97fc !important;
}

.icon-new-clues:before {
  content: "\e663";
  color: #fd6160 !important;
}

.icon-new-contacts:before {
  content: "\e616";
  color: #38c6d2 !important;
}

.icon-new-follow-up:before {
  content: "\e657";
  color: #efc306 !important;
}

.icon-workbench:before {
  content: "\e610";
  font-size: 14px;
}

.icon-customer-management:before {
  content: "\e618";
  font-size: 14px;
}

.icon-data-management:before {
  content: "\e60f";
  font-size: 14px;
}

.icon-privilege-management:before {
  content: "\e611";
  font-size: 14px;
}

.icon-header-user:before {
  content: "\e642";
  font-size: 14px;
}

.icon-header-msg:before {
  content: "\e6eb";
  font-size: 14px;
}

.icon-header-layout:before {
  content: "\e61a";
  font-size: 10px;
}

.icon-gaishu:before {
  content: "\e61c";
  font-size: 14px;
}

.icon-xiangxixinxi:before {
  content: "\e61b";
  font-size: 14px;
}
